.what-i-do {
  width: 100vw;
  margin-top: -75vh;
  @media (min-aspect-ratio: 0.8/1) {
    margin-top: -50vh;
  }

  @media (min-aspect-ratio: 1) {
    margin-top: -25vh;
  }
  @media (min-aspect-ratio: 1.25/1) {
    margin-top: -10vh;
  }
  @media (min-aspect-ratio: 1.5/1) {
    margin-top: 0vh;
  }
  @media (min-aspect-ratio: 1.75/1) {
    margin-top: 10vh;
  }
  @media (min-aspect-ratio: 2/1) {
    margin-top: 50vh;
  }

  .content-wrapper {
    width: 100%;
    overflow: hidden;
    position: sticky;
    top: 0;
    .content {
      position: sticky;
      top: 0;
      height: 100vh;
      width: 100%;
      display: flex;
      text-align: center;
      .title, .competence {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100%;
        flex: 0 0 auto;
        font-size: 10vw;
        font-weight: bold;
      }
    }
  }
}